body {
  touch-action: pan-y; /* allow vertical scroll but prevent swipe to go back in msEdge */
}

.draggable-container {
  position: relative; /* Required by react-flip-move - uncomment it to see console warning */
}

.draggable-item {
  /* transition: all 2.18s ease; */
  position: relative; /* ensures that item is above all others in chrome */
  height: 50px;
  line-height: 50px;
  text-align: center;
  width : 100%;
  display: block;
  background-color: tomato;
  border: 1px solid rgba(0,0,0,.125);
  margin-bottom: 2px;
  margin-top: 2px;
  user-select: none;
}

.slip-reordering {
  transition-property: box-shadow, background-color;
  transition-duration: .18s;
  transition-timing-function: ease;
  background-color: orange;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
  0px 8px 10px 1px rgba(0, 0, 0, 0.14),
  0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  cursor: ns-resize;
}