body {
  touch-action: pan-y; /* allow vertical scroll but prevent swipe to go back in msEdge */
}

/* not required - in SlipMove instead */
.list {
  position: relative; /* Required by react-flip-move - uncomment it to see console warning */
}

.list-item {
  position: relative; /* ensures that item is above all others in chrome */
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  margin-bottom: 2px;
  margin-top: 2px;
  user-select: none;
  will-change: transform;
}

.slipmove-dragging {
  background-color: pink;
}

